
.shape_rectangle {
  position: absolute;;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
  overflow: hidden;
  padding: 10px;
  z-index: 1000;
}


