.oe_kanban_global_click {
  background-color: #80B602 !important;
  color: #FFFFFF !important;
  border: 1px solid #80B602 !important;
  border-radius: 5px;
}

.oe_kanban_global {
  background-color: #80B602 !important;
  color: #FFFFFF !important;
  border: 1px solid #80B602 !important;
  border-radius: 5px;
}
.o_kanban_renderer.o_renderer.o_kanban_ungrouped{
    overflow-y: auto !important;
    max-height: 100% !important;
    }
.o_kanban_renderer .o_kanban_group .o_kanban_header > .o_kanban_header_title .o_kanban_config {
    visibility: hidden !important;
}
.o_kanban_quick_add  {
    visibility: hidden !important;
    }
.o_column_title {
    color: white !important;
    }
.o_animated_number {
    color: white !important;
    }
.o_column_progress {
    display: none;
    }
i {
    color: white !important;
    }
.o_content {
        overflow-y: auto !important;
        }
.o_kanban_group {
    background: none !important;
}
.oe_kanban_details {
color: #FFFFFF !important;
}
.list-item {
  background-color: #80B602 !important;
  color: #fff !important;
  padding-left: 5px;
}
.card-body {
  background-color: #80B602 !important;
  color: #fff !important;
}
.card-title-font {
  font-size: 15px;
}
.card-text-number {
  font-size:40px;
  color: #fff;
  font-weight: bold;
}
.card-text-number-subtitle {
  font-size:20px;
  color: #fff
}

.card-text.number-text {
  padding-top: 8px;
}

.list-group-itemlist-item.kanban-items {
  font-size: 14px;
}

.list-group-itemlist-item i {
  padding-right: 5px;
}

.o_priority_star {
  color: #fff !important;
}
